@import "tailwindcss";

html {
  /* background-color: rgb(16, 10, 52); */
  min-height: 100dvh;
  background-image: url("./assets/images/diamond-sunset.svg");
  /* background-image: url("./assets/images/bullseye-gradient.svg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@layer components {
  .text-gradient {
    @apply bg-clip-text text-transparent font-bold;
    background-image: linear-gradient(theme("colors.indigo.500"), theme("colors.indigo.800"));
  }
}

@utility button {
  @apply border-2 border-transparent font-bold py-1.5 px-6 bg-indigo-500 rounded-2xl cursor-pointer hover:bg-indigo-400 transition duration-200;
}

@utility x-btn {
  @apply button bg-transparent py-0.5 px-2.5 rounded-full absolute top-1 right-1 text-[calc(1rem+0.5vw)] lg:text-2xl;
}

@utility if-disabled {
  @apply disabled:bg-gray-300 disabled:cursor-not-allowed;
}

@utility error-msg {
  @apply text-start mb-[-3px] text-indigo-800 text-[calc(0.9rem+0.5vw)] md:text-xl font-bold;
}

@utility input-f {
  @apply text-[calc(0.9rem+0.5vw)] md:text-xl bg-indigo-300 rounded-lg mt-1 mb-5 py-1 px-2;
}

.wrong-list li:nth-child(even),
.correct-list li:nth-child(even) {
  background-color: gray; /* Tailwind's gray-200 */
}
